---
layout: default
refactor: true
---

<div id="homepage">
  <section id="about-me">
         <h1><a href="/about-me">About Me</a></h1>
         <p> 
                I’m an AI engineer, <a href="/medicine" class="text-custom-blue hover:underline">academic medical doctor</a> and entrepreneur. I learn, build and teach. (<a href="/about-me" class="text-custom-blue">More about me</a>.)
         </p>
  </section>
  <section id="writing">
         <h1><a href="/articles">Writing</a></h1>
         <h3 class="pt-6">Most Popular</h3>
                <ul>
                       <li><a href="/youtube-algorithm">I created my own YouTube algorithm (to stop me wasting time)</a> (>100,000 views)</li>
                       <li><a href="/transition">How I became a Data Scientist during COVID (as a Doctor): 5 takeaways from an unconventional career transition</a> (>25,000 views)</li>
                       <li><a href="/job-scraper">Automating my job search with Python (Using BeautifulSoup and Selenium)</a> (>20,000 views)</li>
                </ul>
         <!-- <h3 class="pt-6">Most Recent</h3> -->
          <!-- TODO: load in the most recent articles here -->
  </section>
  <section id="top-projects">
    <!-- <h1><a href="/projects">Projects</a></h1> -->
    <!-- <ul>
           <li><a href="/medicine">The Modern Medical Student Manual (My Book)</a></li>
           <li><a href="/ml-medics">Machine Learning for Healthcare (My Free Course and Other Material)</a></li>
           <li><a href="/books">Book Summaries</a></li>
    </ul> -->
</section>
<section id="newsletter">
</section>
<!-- <section id="book-notes">
    <h1><a href="books">Book Notes</a></h1>
    <h4>Most Recent</h4>
    <ul>
    {% for book in site.books reversed limit:5 %}
           {% if book.public_date %}
           <li><a href="{{ book.url }}">{{ book.title }} by {{ book.author }}</a></li>
           {% endif %}
    {% endfor %}
    </ul>
</section> -->
<!-- <section id="life-dashboard">
    <h2>My Life Dashboard</h2>
</section> -->
<section id="contact-me">
    <!-- <h2>Say Hi</h2> -->
    <!-- <p>Email me at: hi at chrislovejoy.me</p> -->
    <hr>
</section>
</div>

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
